#dataset-detail{
    display: none;
}

.dropdown:hover{
    background-color: rgb(64,72,91);
}

.dropdown:hover .dropdown-menu{
    display: block;
}

#usr-menu{
    background-color: rgb(64,72,91);
}

#usr-point{
    color: #FF4081;
}

.dropdown-item{
    color: rgb(216,216,216);
}